.ticket-cont {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.tickets {
    display: flex;
    flex-flow: column-reverse;
    width: 25%;
    justify-content: space-evenly;
    height: 100vh;
}
.selectedTicket {
    width: 35%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}

.highlight {
    color: #ff952b;
}
.tick {
    background: #ff952b;
    line-height: 0%;
}

.tick:hover {
    
    filter: brightness(50%);
}

.refresh {
    position: relative;
    top: -73%;
    left:-45%;
    width: 25%;
}

.type0 {
    display: flex;
    justify-content: space-between;
    background-color: darkred;
    width: 100%;
    height: 10%;
}

.type1 {
    display: flex;
    justify-content: space-around;
    background-color: darkgreen;
    width: 100%;
    height: 10%;
}

.edit {
    background-color: #ff952b;
    color: #383634;
    display: inline;
    position: absolute;
    top: 25%;
    left:55%;
}
