.ticket-cont {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.tickets {
    display: flex;
    flex-flow: column-reverse;
    width: 25%;
    justify-content: space-evenly;
    height: 100vh;
}
.selectedTicket {
    width: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}

.highlight {
    color: #ff952b;
}
.tick {
    background: #ff952b;
    line-height: 0%;
}

.tick:hover {
    
    filter: brightness(50%);
}

.refresh {
    position: relative;
    top: -73%;
    left:-45%;
    width: 25%;
}

.type0 {
    display: flex;
    justify-content: space-between;
    background-color: darkred;
    width: auto;
    height: 10%;
    margin-left: -2%;
    margin-right: -2%;
}

.type1 {
    display: flex;
    justify-content: space-around;
    background-color: darkgreen;
    width: 100%;
    height: 10%;
}

.edit {
    background-color: #ff952b;
    color: #383634;
    display: inline;
    position: absolute;
    top: 25%;
    left:55%;
}
 
.selectBox {
    margin-top: 1%;
    border: 5px solid #383634;
    width: 100%;
    padding: 2%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    justify-items: flex-start;
    padding-bottom: 0%;
    padding-top: 0%;
}

.selectTop {
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #383634;
}

.selectDesc {
    border-bottom: 3px solid #383634;

}

h3 {
    display: inline;
    color: #ff952b

}

h3 + h3 {
    border: red;
}

.selectTried {
    min-height: 75px;
    color: black;
    background-color: white; 
    text-align: left;
    margin: 1%;
    border: 3px solid #383634;
}